Source: ros-humble-rmw-stats-shim
Section: misc
Priority: optional
Maintainer: Bonsai Robotics Engineering <emerson.knapp@bonsairobotics.ai>
Build-Depends: debhelper (>= 9.0.0), ros-humble-ament-cmake, ros-humble-ament-lint-auto <!nocheck>, ros-humble-ament-lint-common <!nocheck>, ros-humble-rosgraph-monitor-msgs, ros-humble-rosidl-runtime-cpp, ros-humble-rosidl-typesupport-cpp, ros-humble-ros-workspace
Homepage: 
Standards-Version: 3.9.2

Package: ros-humble-rmw-stats-shim
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-humble-rosgraph-monitor-msgs, ros-humble-rosidl-runtime-cpp, ros-humble-rosidl-typesupport-cpp, ros-humble-ros-workspace
Description: Partial RMW shim library to instrument RMW API calls
